<html>
<head>
<title>Wonder-LAP</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<form action="/action_page.php" method="get">
	<div class="container">
	<div class="row">	
		<div class="column">
			<label>
				<img class="img-responsive" src="../../assets/Lakme-compact.jpeg" width="100" height="100" />
				<h5 style="color:black">Compact</h5>
				<button type="add" class="btn btn-primary btn-block btn-large">Add to Cart</button>
			</label>
		</div>
		<div class="column">
			<label>
				<img class="img-responsive" src="../../assets/Lakme-Foundation.jpg"  width="100" height="100"/>
				<h5 style="color:black">Foundation</h5>
				<button type="add" class="btn btn-primary btn-block btn-large">Add to Cart</button>
			</label>
		</div>
		<div class="column">
			<label>
				<img class="img-responsive" src="../../assets/Lakme-lipstick.jpg" width="100" height="100"/>
				<h5 style="color:black">Lipstick</h5>
				<button type="add" class="btn btn-primary btn-block btn-large">Add to Cart</button>
			</label>
		</div>
		<div class="column">
			<label>
				<img class="img-responsive" src="../../assets/Lakme-NAIL.png"  width="100" height="100">
				<h5 style="color:black">Nail-Colour</h5>
				<button type="add" class="btn btn-primary btn-block btn-large">Add to Cart</button>
		</label>
		</div>
  </div>
  <div class="row">
		<div class="column">
			<label>
				<img class="img-responsive" src="../../assets/winter_skincare.jpg"  width="100" height="100">
				<h5 style="color:black">Winter-SkinCare</h5>
				<button type="add" class="btn btn-primary btn-block btn-large">Add to Cart</button>
			</label>
		</div>
		<div class="column">
			<label >
				<img class="img-responsive" src="../../assets/oriflame-skincare.jpeg"  width="100" height="100">
				<h5 style="color:black">Regular-SkinCare</h5>
				<button type="add" class="btn btn-primary btn-block btn-large">Add to Cart</button>
			</label>
		</div>
		<div class="column">
			<label>
				<img class="img-responsive" src="../../assets/Hair_care.jpg"  width="100" height="100">
				<h5 style="color:black">Hair-care</h5>
				<button type="add" class="btn btn-primary btn-block btn-large">Add to Cart</button>
			</label>
		</div>
		<div class="column">
			<label>
				<img class="img-responsive" src="../../assets/haircombo.jpg"  width="100" height="100">
				<h5 style="color:black">Hair-care-combo</h5>
				<button type="add" class="btn btn-primary btn-block btn-large">Add to Cart</button>
			</label>
		</div>
  </div>
  
</div>

</form>
<div class="foot">
      <p>THIS WEBSITE IS BROUGHT TO YOU BY &#169; <a href="index.html">Wonder-Lap</a></p>
    </div>
</body>
</html>

