

<html>
<head>
<title>Wonder Lap</title>
<link rel="stylesheet" href="C:\Users\WIN 10\Desktop\bootstrap\Wonder-Lap\src\app\home\login.html">
<link rel="stylesheet" href="C:\Users\WIN 10\Desktop\bootstrap\Wonder-Lap\src\app\home\signup.html">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
 <div class="wrap">
  <ul class="navbar">
    <li><a href="">Home</a><li> 
    <li><a href="#">Brands<i class="fa fa-caret-down"></i></a>
      <ul>
        <li>
          <a>Lakme</a>
        </li>
        <li>
          <a>Himalaya</a>
        </li>
        <li>
          <a>Dove</a>
        </li>
        <li>
          <a>Lo'real</a>
        </li>
      </ul>
    </li>
    <li><a href="#category">Category<i class="fa fa-caret-down"></i></a>
      <ul>
        <li>
          <a>Skin</a>
        </li>
        <li>
          <a>Hair</a>
        </li>
      </ul>
    </li>  
  <li><a href="#aboutus">About US</a></li>
  </ul>
  <div class="user">
    <a ><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></a>
    <a [routerLink]="['/login']"><i class="fa fa-fw fa-user"></i>Login</a>
    <a [routerLink]="['/signup']">Sign-Up</a>
  </div>
</div>
</body>
</html>
